<main>
  {{#if hasResults}}

  <div class="row">
  {{#each results}}

    <div class="col-xl-3 col-md-4 col-sm-12">
      <div class="card">
          <div class="item-img text-center">
              <a href="/movie/{{id}}">
                <img class="img-fluid card-img-top" 
                src={{#if poster_path}}"https://image.tmdb.org/t/p/original{{poster_path}}"{{else}}"/styles/images/placeholder.png"{{/if}} alt="{{title}}">
              </a>
          </div>
          <div class="card-body">
              <h6 class="item-name card-text item-description">
                  <a href="/movie/{{id}}">{{title}}</a>
              </h6>
              <p class="card-text item-description">
                  {{overview}}
              </p>

              <div id="buttons-{{id}} button">
                {{#if ../isLoggedIn}}
                <a class="wishlist-button waves-effect waves-light btn-small add_circle_outline grey" id="btns"
                  data-id="{{id}}" data-title="{{name}}" data-poster="{{poster_path}}">
                  Add to Wish List
                </a>
                <a class="watchedlist-button waves-effect waves-light btn-small add_circle_outline grey" id="btns"
                  data-id="{{id}}" data-title="{{name}}" data-poster="{{poster_path}}">
                  Add to Watched List
                </a>
                {{else}}
                <a class="btn waves-effect waves-light gray btn-block" href="/signin">Sign in First!</a>

                {{/if}}
              </div>

          </div>
      </div>
    </div>

  {{/each}}

  </div>
  {{else}}
  Sorry, No Search Results!
  {{/if}}

</main>

<script>
  $(document).ready(function () {
    var results = [];
      {{#each results }}
      results.push({
        id: {{ id }},
        title: "{{title}}",
        poster_path: "{{poster_path}}"
      })
      {{/each}}

      {{#if isLoggedIn }}
      requestList("watchedList", {{userid}}, function (data) {
        data.map(movie => {
          var foundInResults = results.filter(res => res.id === parseInt(movie.apiId));

          if (foundInResults.length > 0) {
            $("#buttons-" + movie.apiId).children(".watchedlist-button")
              .text("Remove from Watched List").addClass("orange lighten-1")
          }
        })
      })

      requestList("wishList", {{ userid }}, function (data) {
        data.map(movie => {
          var foundInResults = results.filter(res => res.id === parseInt(movie.apiId));

          if (foundInResults.length > 0) {
            $("#buttons-" + movie.apiId).children(".wishlist-button")
              .text("Remove from Wish List").addClass("orange lighten-1")
          }
        })
      })
      {{/if}}
        });
</script>